* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.line {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line.space-around {
  justify-content: space-around;
}

.word span {
  transition: opacity 3s ease-in-out;
  opacity: 1;
}

.App.step-1 .word .fade {
  opacity: 0;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  padding: 10vh 15vw;
}

.App-header, .App-footer {
  position: fixed;
  text-align: center;
  width: 100%;

  color: lightgray;
}

.App-header {
  top: 5vh;
}

.App-footer {
  bottom: 5vh;
}

@media (orientation: landscape) {
  .App-content {
    padding: 10vh 30vw;
  }
  .App-header {
    top: 2vh;
  }
}
